.inline {
	display: inline-block;
}
.inline-desktop {
	display: block;
}
.block {
	display: block;
}
.inline-desktop {
	@media (min-width:768px) {
		display: inline-block;
    }
}
.v-bottom {
	vertical-align: bottom;
}

.u-icon-left {
    padding-left: 1.8875rem;
    background-position: 0 50%;
}
.line-space {
    display: inline-block;
    margin-right: -14px;
    vertical-align: text-bottom;

    @media (max-width:767px) {
        display: none;
    }
}