<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="in_file_path" value="C:\workGitHubConsid\rosta-stockholm\Grunddata.Processing\FortidGeoCodeApp\ExcelFiles\11_vallokaler_fortid_before_process.xlsx"/>
    <add key="out_file_path" value="C:\workGitHubConsid\rosta-stockholm\Grunddata.Processing\FortidGeoCodeApp\ExcelFiles\13_vallokaler_fortid_after_process.xlsx"/>
    <add key="google_maps_api" value="https://maps.googleapis.com/maps/api/geocode/json?address={0}"/>
    <add key="api_key" value="AIzaSyBxGRh1fFOUW14ulgpviFNrGgrratcYk78"/>
  </appSettings>
</configuration>